{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<h2> Python in DevOps </h2>
<p> Hi, my name is Salmaan Saeed. I will explain in my articles how Python is used in DevOps.
	The goal of DevOps is to efficiently design, maintain and test programs.
	The programs that DevOps Engineers create are maintainable and readable for programmers.
</p>
<h4> Installation </h4>
<p> Software used in this tutorial </p>
<ul>
	<li><a href="https://www.python.org/ ">Python</a> <b>(Version 3.9)</b></li>
	<li><a href="https://docs.pytest.org/en/6.2.x/ ">Pytest</a></li>
	<li><a href="https://pylint.org/ ">Pylint</a></li>
	<li><a href="https://pandas.pydata.org/">Pandas</a></li>
	<li><a href="https://pypi.org/project/pytest-pylint/">pytest-pylint</a> (Pytest plugin)</li>
	<li><a href="https://pypi.org/project/pytest-cov/ ">pyttest-cov</a> (Pytest plugin)</li>
	<li><a href="https://www.docker.com/why-docker">Docker Desktop</a></li>
</ul>
<p> The Python IDE I used </p>
<ul>
	<li><a href="https://www.jetbrains.com/pycharm/ ">Pycharm Professional</a>: License Required </li>
</ul>
<p> Other Python IDEs or Code Editors you could use: </p>
<ul>
	<li><a href="https://www.jetbrains.com/pycharm/">Pycharm Community</a>: Free</li>
	<li><a href="https://www.pydev.org/">PyDev</a>: Free </li>
	<li><a href="https://www.spyder-ide.org/">Spyder</a>: Free </li>
</ul>
{% endblock %}
