{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
			<h2> Separations of Concerns </h2>
			<p>
				<b>Separations of concerns</B> (SoC) is an idea where you should separate a program into 
				sections and each section addresses a specific concern. 
				This concept is a way to organize a program properly.  It makes the program more readable 
				to other programmers. Companies and organizations do it naturally in real life.
			</p>
			<p>
				This concept helps humans do work efficiently and keeps the whole process organized. 
				You do not want to have a doctor schedule appointment for someone and bring the patient inside. 
				It is not the responsibility of the doctor to run all aspects of the doctor office. 
				There is a reason why there are other workers responsible for a specific task or different set of tasks. 
			</p>
			<p>
				Each worker is responsible for different tasks inside a doctor office.
				The doctor is responsible for checking on the patient.
				The doctor’s assistant is responsible for aiding the doctor.
				The assistant is responsible to bring in the patient to a room and check on the patient’s weight and height.
				The front desk is responsible to answer phone calls and schedule appointments for the patient.
				Dividing all the tasks in doctor office to different workers makes it possible for the doctor office 
				to function properly and do business. 
			</p>
			<p>
				This is how we are supposed to approach when designing complex programs.
				It is important that each section of the program has a single responsibility or a few set of 
				responsibilities.
				In the calculator program, each method is designed to do one task.
				Each method is not allowed to do multiple tasks at the same time.
				Humans do not like to multitask. Instead, humans do one or few tasks at a time.
			</p>
			<h4>Calculator class using Separation of Concerns Concept</h4>
			<p>  
				Every method in the Calculator class has the resposibility of getting the result of each operation. 
				These methods separate the responsibilites of the Calculator class. 
				This shows that SoC makes the code organized and readable.
			</p>
			<h4> Git repository </h4>
			<p>
				<a href="https://github.com/sagedemage/SoC"> SoC </a>
			</p>
{% endblock %}
