{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
			<h2> Testing Tools </h2>
			<p> Testing tools are the tools used to test the program. 
			The testing tools I will mention in this tutorial are pytest, pylint, and coverage.
			</p>
			<h4> Pylint </h4>
			<p>
			<b>Pylint</b> is a tool used to make sure the python code is written properly. 
			It standardized how python code should be written. 
			Pylint follows the PEP 8 coding style.
			</p>
			<h5>Installation</h5>
			<p> To install pylint </p>
			<pre class="command">pip install pylint</pre>
			<h5> How to use Pylint </h5>
			<p> To check python program written in pylint </p>
			<pre class="command">pylint calculator.py</pre>
			<p>
				After Pylint runs, it determines the score of the program out of 10. 
				If the program does not get a 10 out of 10, 
				Pylint will let you know the problems with how the program's format
				style which does not follow PEP 8. 
			</p>
			<h4> Using Pytest with Pylint and Coverage </h4>
			<p> 
				<b>Pytest</b> is a framework used to help programmers write good programs that uses 
				test programs to check against different scenarios.
			</p>
			<p> <b>Coverage</b> checks how effective the tests are. To get 100 percent coverage, make sure the test
			programs test every method or function of the program.</p>
			<p> At the root of the repository directory, run the pytest command with the pylint and coverage flags
			to test the program. </p>
			<pre class="command">pytest --pylint --cov</pre>
			<p> For the result </p>
			<ul>
				<li> It passed all the test cases </li>
				<li> Pylint finds no problem with the code format </li>
				<li> The overall coverage is 100% </li>
			</ul>
			<h4> Git repository </h4>
			<p>
				<a href="https://github.com/sagedemage/testing_tools"> Testing Tools </a>
			</p>
{% endblock %}
